:root {
    --header_gradient: rgb(0, 121, 255);
    /*--navbar_color: #ffffff;*/
    --navbar_color: rgba(255, 255, 255, 0.39);
    --bavbar_box_shadow: 0px 14px 80px rgba(159, 161, 217, 0);
    --Authbox_Bg_Color: #ffffff;
    --Authbox_Bg_Color-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    /*--newBG: linear-gradient(90deg, rgba(84,0,0,1) 0%, rgba(52,42,111,1) 23%, rgba(48,47,126,1) 26%, rgba(46,49,132,1) 31%, rgba(44,52,140,1) 37%, rgba(42,55,147,1) 43%, rgba(32,41,110,1) 53%, rgba(30,38,101,1) 60%, rgba(27,34,92,1) 67%, rgba(26,33,89,1) 72%, rgba(25,32,86,1) 78%, rgba(25,32,85,1) 80%, rgba(24,31,83,1) 84%, rgba(23,30,81,1) 88%, rgba(23,29,79,1) 91%, rgba(23,29,78,1) 93%, rgba(22,28,75,1) 98%);*/
    --newBG: hsla(0, 0%, 100%, 0.39);
    /* --newBG: hsl(0, 0%, 0%); */
}